<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda de Asegurados</title>
</head>

<body>
    <form action="/buscarAsegurado" method="POST">
        <label>SINEC</label><br>
        <input type="text" name="edtBuscar" value="<%= typeof id != 'undefined' ? id : '' %>">
        <button name="btnBuscar" type="submit">Buscar</button> <br>
        <%= typeof message != 'undefined' ? message : '' %>
        <br><br>
        Nombres:
        <input type="text" name="nombre" value="<%= typeof nombre != 'undefined' ? nombre : '' %>" disabled><br>
        Apellidos:
        <input type="text" name="apellidos" value="<%= typeof apellido != 'undefined' ? apellido : '' %>" disabled><br>
        Empresa:
        <input type="text" name="empresa" value="<%= typeof empresa != 'undefined' ? empresa : '' %>" disabled><br>
        Fecha de Ingreso:
        <input type="text" name="fec_ingreso" value="<%= typeof fec_ing != 'undefined' ? fec_ing : '' %>" disabled><br>
        Nro. Matricula:
        <input type="text" name="nro_matricua" value="<%= typeof matricula != 'undefined' ? matricula : '' %>"
            disabled><br>
        Fecha de Nacimiento:
        <input type="text" name="fec_nacimiento" value="<%= typeof fec_nac != 'undefined' ? fec_nac : '' %>"
            disabled><br>
        Tipo de Sangre:
        <input type="text" name="tipo_sangre" value="<%= typeof tipo_sangre != 'undefined' ? tipo_sangre : '' %>">
        <button name="btnRegistrar" type="submit">Registrar</button> <br>
    </form>
    <!-- <form action="/registrarTipoSangre" method="POST">
        Tipo de Sangre:
        <input type="text" name="tipo_sangre">
        <button name="btnBuscar" type="submit" name="regTipo">Registrar</button>
        <br>
    </form> -->
</body>

</html>